.container{
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100dvh; 
    min-height: -webkit-fill-available;
    max-height: 100dvh; 
    max-height: -webkit-fill-available;
    overflow: hidden;
    height: 100lvh;
    /* overflow-y: auto; */
    overflow-y:none;
    -webkit-overflow-scrolling: touch;
    touch-action:none;
    height: calc(var(--vh, 1vh) \* 100);
}
body {
    min-height: 100dvh;
    /* mobile viewport bug fix */
    max-height: -webkit-fill-available - 100dvh;
    margin: 0 0 0 0;
  }
  
  html {
    height: -webkit-fill-available;
  }

 
  /* @media all and (orientation: portrait) {
    body {
        -webkit-transform: rotate(90deg); 
        -moz-transform: rotate(90deg); 
        -ms-transform: rotate(90deg); 
        -o-transform: rotate(90deg); 
        transform: rotate(90deg); 
    }
} */
/* body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
#content {
	position:absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0
}
#content iframe{
	width:100%;
	height:100%;
	border:none;
}
@media screen and (orientation:portrait) {
	body { */
		/* -webkit-transform: rotate(90deg); */
		/* -webkit-transform-origin: 50% 50%; */
		/* transform: rotate(90deg); */
		/* transform-origin: 50% 50%; */
	/* }
} */
/* html, body {
    min-height: 100lvh; 
    min-height: -webkit-fill-available;
    overflow: hidden;
    height: 100lvh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    touch-action:none;
    height: calc(var(--vh, 1vh) \* 100);
} */


.block {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    /* margin: 1% 1% 1% 1%; */
    padding: 1em 1em 1em 1em;
    font-family: 'Courier New';
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block.red {
    background-color: #dc3333;
    color: #680202;
}

.block.orange {
    background-color: #ff8725;
    color: #743400;
}

.block.yellow {
    background-color: #ffe063;
    color: #5a6802;
}

.block.green {
    background-color: #82ff63;
    color: #02682b;
}

.block:active {
    filter: brightness(75%);
}

.label {
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -ms-transform: rotate(90deg); 
    -o-transform: rotate(90deg); 
    transform: rotate(90deg); 
}