@font-face {
    font-family: "Pixelify";
    src: url('../fonts/PixelifySans-Regular.ttf') format('truetype');
  }

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 100dvh; 
    min-height: -webkit-fill-available;
    max-height: 100dvh; 
    max-height: -webkit-fill-available;
    overflow: hidden;
    height: 100lvh;
    /* overflow-y: auto; */
    overflow-y:none;
    -webkit-overflow-scrolling: touch;
    touch-action:none;
    height: calc(var(--vh, 1vh) \* 100);
}
body {
    min-height: 100dvh;
    /* mobile viewport bug fix */
    max-height: -webkit-fill-available - 100dvh;
    margin: 0 0 0 0;
  }
  
  html {
    height: -webkit-fill-available;
  }

.block {
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 100%;
    color: white;
    margin: 0% 0% 0% 0%;
    font-family: 'Pixelify';
    /* TODO: UPDATE TO TAKE INTO ACCOUNT THE MOBILE VIEWPORT (at least I think this is the issue causing weird font scaling on mobile devices).  */
    font-size: 5dvh;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.block.red {
    background-image: url('../images/red_button.png');
}

.block.orange {
    background-image: url('../images/orange_button.png');
}

.block.yellow {
    background-image: url('../images/yellow_button.png');
}

.block.green {
    background-image: url('../images/green_button.png');
}

.block.blue {
    background-image: url('../images/blue_button.png');
}

.block.largepink {
    background-image: url('../images/large_pink_button.png');
}

.block.pink {
    background-image: url('../images/pink_button.png');
}

.block:active {
    filter: brightness(75%);
}

.label {
    -webkit-transform: rotate(90deg); 
    -moz-transform: rotate(90deg); 
    -ms-transform: rotate(90deg); 
    -o-transform: rotate(90deg); 
    transform: rotate(90deg); 
}