<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, minimal-ui">
    </head>
    <body class="container">
       <h1 hidden id="level"><%= level %></h1>
      <script type="module">
        import { createSocket } from "/js/webSocketConnect.js";
        const webSocket = createSocket();

        import * as buttonUtil from "/js/buttonUtil.js"

        var level = document.getElementById("level").innerHTML;
        
        var jump = buttonUtil.player1Jump(webSocket);
        if(level == 1){
            document.body.appendChild(buttonUtil.stepForward(webSocket));
            document.body.appendChild(jump);
        }
        else if(level == 2){
            document.body.appendChild(buttonUtil.punch(webSocket));
            jump.style.gridRow = "span 2";
            document.body.appendChild(jump);
            document.body.appendChild(buttonUtil.stepForward(webSocket));
        }

        var rawAngles = [];
        var normAngles = [];
        var normAxis = 0;

        window.addEventListener("deviceorientation", handleOrientation);
        function handleOrientation(event){
            updateFieldIfNotNull(event.alpha);
        }
        function updateFieldIfNotNull(value, precision=0){
            if (value != null){
                if(value > 180){ 
                    value -= 360; 
                }
                value = value.toFixed(precision);
                rawAngles.push(value);
                while(normAngles.length < 50){
                    normAngles.push(value);
                }
                if(rawAngles.length > 100){
                    normAngles.push(rawAngles[rawAngles.length - 1]);
                    normAngles.shift();
                    rawAngles = [];
                }
                normAngles.forEach((elem) => normAxis = +normAxis + +elem);
                normAxis = (+normAxis / normAngles.length).toFixed(precision);   
                webSocket.send("a: " + (+value - +normAxis));
                normAxis = 0;
            }
        }    
    </script>
    </body>
</html>