<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, minimal-ui">
    </head>
    <body class="container">
       <h1 hidden id="level"><%= level %></h1>
      <script type="module">
        import { createSocket } from "/js/webSocketConnect.js";
        const webSocket = createSocket();

        import * as buttonUtil from "/js/buttonUtil.js"

        var level = document.getElementById("level").innerHTML;
        
        var jump = buttonUtil.player2Jump(webSocket);
        if(level == 1){
            document.body.appendChild(buttonUtil.shoot(webSocket));
            jump.style.gridRow = "span 2";
            document.body.appendChild(jump);
            document.body.appendChild(buttonUtil.stepBackward(webSocket));
        }
        else if(level == 2){
            document.body.appendChild(buttonUtil.shoot(webSocket));
            document.body.appendChild(buttonUtil.kick(webSocket));
            document.body.appendChild(buttonUtil.stepBackward(webSocket));
            document.body.appendChild(jump);
            
            
        }

    </script>
    </body>
</html>