<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, minimal-ui">
    </head>
    <body class="container">
      <button class="block red" id="punch"><div class="label">PUNCH</div></button>
      <button class="block green" id="step forward"><div class="label">STEP FORWARD</div></button>
      <button class="block yellow" id="jump" style="grid-column: span 2;"><div class="label">JUMP</div></button>      
      <script type="module">
        import { createSocket } from "/js/webSocketConnect.js";
        const webSocket = createSocket();
        var rawAngles = [];
        var normAngles = [];
        var normAxis = 0;

        window.addEventListener("deviceorientation", handleOrientation);
        function handleOrientation(event){
            updateFieldIfNotNull('Orientation_a', event.alpha);
        }
        function updateFieldIfNotNull(fieldName, value, precision=0){
            if (value != null)
            if(value > 180){
                value -= 360;
            }

            value = value.toFixed(precision);
            // if(rawAngles.length == 0){
            //     rawAngles = Array(100).fill(value);
            // }


            // rawAngles.shift();
            rawAngles.push(value);
            while(normAngles.length < 50){
                normAngles.push(value);
            }
            if(rawAngles.length > 100){
                normAngles.push(rawAngles[rawAngles.length - 1]);
                normAngles.shift();
                rawAngles = [];
            }
            normAngles.forEach((elem) => normAxis = +normAxis + +elem);
            // for(i = 0; i < normAngles.length; i++) {normAxis = +normAxis + +normAngles[i]}
            

            normAxis = (+normAxis / normAngles.length).toFixed(precision);   
            // webSocket.send("normalized axis: " + normAxis);         
            
            webSocket.send("a: " + (+value - +normAxis));

            // webSocket.send("a:" + value);

            normAxis = 0;
        }
        var timer;
        document.getElementById('punch').addEventListener('touchstart', function() {webSocket.send("p");});
        document.getElementById('step forward').addEventListener('pointerdown', function() {
            timer=setInterval(function(){
                webSocket.send("sf");
            }, 0)
        });
        document.getElementById('step forward').addEventListener('pointerup', function() {if(timer) clearInterval(timer);});
        document.getElementById('jump').addEventListener('touchstart', function() {webSocket.send("1j");});
        
    </script>
    </body>
</html>