<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, minimal-ui">
    </head>
    <body class="container">
      <button class="block blue" id="shoot"><div class="label">SHOOT</div></button>
      <button class="block orange" id="kick"><div class="label">KICK</div></button>
      <button class="block purple" id="step backward"><div class="label">STEP BACKWARD</div></button>
      <button class="block yellow" id="jump"><div class="label">JUMP</div></button>      
      <script type="module">
        import { createSocket } from "/js/webSocketConnect.js";
        const webSocket = createSocket();
        var timer;
        document.getElementById('shoot').addEventListener('touchstart', function() {webSocket.send("s");});
        document.getElementById('kick').addEventListener('touchstart', function() {webSocket.send("k");});
        document.getElementById('step backward').addEventListener('pointerdown', function() {
            timer=setInterval(function(){
                webSocket.send("sb");
            }, 1)
        });
        document.getElementById('step backward').addEventListener('pointerup', function() {if(timer) clearInterval(timer);});
        document.getElementById('jump').addEventListener('touchstart', function() {webSocket.send("2j");});
    </script>
    </body>
</html>