<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, minimal-ui">
    </head>
    <body class="container">
      <button class="block blue" id="shoot"><div class="label">SHOOT</div></button>
      <button class="block darkblue" id="stomp"><div class="label">STOMP</div></button>
      <button class="block purple" id="step backward"><div class="label">STEP BACKWARD</div></button>
      <button class="block yellow" id="grab"><div class="label">GRAB</div></button>      
      <button class="block pink" id="shield" style="grid-column: span 2;"><div class="label">SHIELD</div></button>      
      <script type="module">
        import {createSocket} from "/js/webSocketConnect.js";
        const webSocket = createSocket();
        document.getElementById('shoot').addEventListener('touchstart', function() {webSocket.send(4);});
        document.getElementById('stomp').addEventListener('touchstart', function() {webSocket.send(5);});
        document.getElementById('step backward').addEventListener('touchstart', function() {webSocket.send(6);});
        document.getElementById('grab').addEventListener('touchstart', function() {webSocket.send(7);});
        document.getElementById('shield').addEventListener('touchstart', function() {webSocket.send(8);});
    </script>
    </body>
</html>