<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, minimal-ui">
    </head>
    <body>
        <form action="" method="post" id="form1">
            <button class="block blue" id="start" name="start" value="start" onclick="
                if ( typeof( DeviceMotionEvent ) !== 'undefined' && typeof( DeviceMotionEvent.requestPermission ) === 'function' ) {
                    DeviceMotionEvent.requestPermission().catch( console.error );
                } else {
                    alert( 'DeviceMotionEvent is not defined' );
                }
            "
            >START</button>
        </form>
    </body>
</html>